<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,minimal-ui">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/book.css">
    <link rel="stylesheet" type="text/css" href="/css/global.css">
    <title>书籍详情</title>
</head>

<body>
    <div id="book-root" class="book-root">
        <% include common/head.html%>
        <div class="flex book-info">
            <img :alt="book.title" :src="book.cover">
            <div class="flex-column book-info-right">
                <span>
                    <h1>{{book.title}}</h1>
                </span>
                <span class="book-author">{{book.authors}}</span>
                <span>{{book.score_count}}个评价</span>
                <span>价格:{{book.price}}书币</span>
                <span>
                    字数:{{book.word_count}}字
                    <span class="book-state">{{book.state}}</span>
                </span>
            </div>
        </div>
        <button class="btn-read" @click="read">开始阅读</button>
        <div class="book-content border-bottom">{{book.content}}</div>
        <div class="book-tag border-bottom">
            <h1>类别标签</h1>
            <span v-for="tag in book.tags">{{tag}}</span>
        </div>
        <div class="border-bottom">
            <h1 class="author-books-h1">作者的其他作品</h1>
            <div class="flex author-books">
                <div v-for="book in authorBooks" class="flex-column">
                    <a href="/">
                        <img :alt="book.title" :src="book.cover">
                    </a>
                    <p>{{book.title}}</p>
                </div>
            </div>
        </div>
        <div class="border-bottom">
            <h1 class="author-books-h1">喜欢本书的人也喜欢</h1>
            <div class="flex author-books">
                <div v-for="book in related" class="flex-column">
                    <a href="/">
                        <img :alt="book.title" :src="book.cover">
                    </a>
                    <p>{{book.title}}</p>
                </div>
            </div>
        </div>
        <div>
            <h1 class="author-books-h1">图书信息</h1>
            <p style="margin-bottom: 20px">版权:{{book.rights}}</p>
        </div>
    </div>
</body>
<script src="/js/vue.js"></script>
<script src="/js/zepto.js"></script>
<script>
    new Vue({
        el: '#book-root',
        data: function () {
            return {
                book: {},
                authorBooks: [],
                related: []
            }
        },
        created() {
            const param = location.search.split('?id=').pop()
            $.get(`/bookData?id=${param}`, data => {
                this.book = data.item
                this.authorBooks.push(...data.author_books)
                this.related.push(...data.related)
            })
        },
        methods: {
            read() {}
        }
    })
</script>

</html>