<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,minimal-ui">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/user.css">
    <title>个人中心</title>
</head>

<body>
    <div class="top">
        <a href="/"></a>
        <p style="font-size: 15px;">个人中心</p>
    </div>
    <ul class="flex-column">
        <li>
            <img src="http://image.read.duokan.com/mfsv2/download/fdsc3/p017rdZTB65K/pDJrF2XCYRGKRP.png">
            <div class="info">
                <h3>每日签到</h3>
                <p>每天签到都有奖，连续7天抽大奖！</p>
            </div>
        </li>
        <li>
            <img src="http://image.read.duokan.com/mfsv2/download/s010/p013RMsIOqyv/sGIEbajzOxoxwT.png">
            <div>
                <h3>
                    新人大礼
                    <em>送500书币</em>
                </h3>
                <p class="summary">新用户立刻获赠500书币大礼包，马上去领取吧！</p>
            </div>
        </li>
        <li>
            <img src="http://image.read.duokan.com/mfsv2/download/s010/p01A6KoaXKfp/G6lr8GUkpcJIn1.png">
            <div class="info">
                <h3 class="title">10元充值</h3>
                <p class="summary">充值10元获得1000书币</p>
            </div>
        </li>
        <li>
            <img src="http://image.read.duokan.com/mfsv2/download/s010/p01A6KoaXKfp/G6lr8GUkpcJIn1.png">
            <div class="info">
                <h3 class="title">20元充值</h3>
                <p class="summary">充值20元获得2000书币</p>
            </div>
        </li>
        <li>
            <img src="http://image.read.duokan.com/mfsv2/download/s010/p01A6KoaXKfp/G6lr8GUkpcJIn1.png">
            <div class="info">
                <h3 class="title">50元充值</h3>
                <p class="summary">充值50元获得5000书币</p>
            </div>
        </li>
        <li>
            <img src="http://image.read.duokan.com/mfsv2/download/s010/p01A6KoaXKfp/G6lr8GUkpcJIn1.png">
            <div class="info">
                <h3 class="title">100元充值</h3>
                <p class="summary">充值100元获得10000书币</p>
            </div>
        </li>
    </ul>
</body>

</html>