<section>
    <link rel="stylesheet" type="text/css" href="/css/index-top.css">
    <div>
        <a href="/search">
            <div class="index-top-search">
                请输入书名/作者/关键字
            </div>
        </a>
    </div>
    <div>
        <img style="width: 100%;" alt="banner" src="/img/banner.jpg">
    </div>
    <ul class="flex flex-center top-nav-ul">
        <li>
            <a href="/male">
                <img src="/img/male.png">
            </a>
            <p>男生</p>
        </li>
        <li>
            <a href="/female">
                <img src="/img/female.png">
            </a>
            <p>女生</p>
        </li>
        <li>
            <a href="/category">
                <img src="/img/category.png">
            </a>
            <p>分类</p>
        </li>
        <li>
            <a href="/rank">
                <img src="/img/rank.png">
            </a>
            <p>排行</p>
        </li>
    </ul>
</section>